:root {
  --backgroundBody: #ededed;

  --backgroundSections0: rgb(255, 255, 255);
  --backgroundSections1: #252525;

  --borderRadiusSection: 0;
  --padddingSection: 15px 2.5%;

  --paddingNavigation: 0 2%;
  --paddingBody: 0;

  --icons-color: #65a2ff;
  --textColor: #65a2ff;

  --titulos-subtitulos: "Catamaran", sans-serif;
  --textos: "Hind Vadodara", sans-serif;
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  :root {
    --paddingNavigation: 0 3%;
    --paddingBody: 0 3%;
    --padddingSection: 15px 2%;
    --borderRadiusSection: 5px;
  }
}

@media screen and (min-width: 769px) {
  :root {
    --paddingNavigation: 0 3.5%;
    --paddingBody: 0 3.5%;
    --padddingSection: 20px 2%;
    --borderRadiusSection: 10px;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundBody);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titulos-subtitulos);
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 25px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 19px;
}

b,
a,
button,
p,
em,
td,
u {
  font-size: 16.5px;
  font-family: var(--textos);
}
input {
  font-family: var(--textos);
}

b,
button {
  font-weight: 500;
}

button {
  font-weight: 600;
  cursor: pointer;
}

p {
  font-weight: 400;
}
